{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab || www.codinglabweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification Form</title>
    <link rel="stylesheet" href="{% static 'css/otp_style.css' %}" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="{% static 'js/otp_system.js' %}" defer></script>
  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form action="#">
        <div class="input-field">
          <input type="number" id ="otp1" />
          <input type="number" id ="otp2" disabled />
          <input type="number" id ="otp3" disabled />
          <input type="number" id ="otp4" disabled />
        </div>
        <button onClick ="getOtpVerify()">Verify OTP</button>
      </form>
    </div>
    <script>
           function getOtpVerify(){
            var otp1 = document.getElementById("otp1").value
            var otp2 = document.getElementById("otp2").value
            var otp3 = document.getElementById("otp3").value
            var otp4 = document.getElementById("otp4").value 
             console.log("otp is "+otp1+otp2+otp3+otp4)
             const otp = otp1+otp2+otp3+otp4
             const csrfToken = getCookie('csrftoken'); // Get the CSRF token from the cookie
             const number = {{request.session.customer_number}}
                const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
                    },
                    body: JSON.stringify({ phone_number: number, otp: otp })
                };

                fetch('http://127.0.0.1:8000/verify-otp/', requestOptions)
                    .then(response => response.json())
                    .then(data => {
                        console.log('=====>', data);
                        if (data["messege"] === "otp matched")
                        {
                            window.location.href = "/";
                        }
                    });
            }

            // Helper function to retrieve the CSRF token from the cookie
            function getCookie(name) {
                const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                return cookieValue ? cookieValue.pop() : '';
            }

           
    </script>
  </body>
</html>
